@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

h1{
  text-align: center;
}

header{
  padding: 2vh 0;
  max-width: 25%;

}

header h1{
  text-align: center;
}

nav{
  z-index: 4;
  top: 0;
  position: sticky;
  background-color: red;
  -webkit-box-shadow: 0 5px 4px -1px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0 5px 4px -1px rgba(0,0,0,0.25);
  box-shadow: 0 5px 4px -1px rgba(0,0,0,0.25);
}

nav ul{
  padding-top: auto;
  padding-bottom: auto;
  text-align: center;
  max-width: 24%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

nav li{
  padding: 1vh 0;
}


.about{
  padding: 17vh 0;
  align-items: baseline;
  /*background-color: green;*/
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: auto;

}

.about img{
  margin: 3vh 0;
  border-radius: 10px;
  max-height: 50vh;
  -webkit-box-shadow: -1px 9px 46px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 46px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 46px 0px rgba(0,0,0,0.75);
}

.aboutcontent p{
  margin: 3vh 0;
}

.aboutcontent h2{

}

.aboutcontent{
  align-self: center;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

#projectcontainer{
  margin-top: 5vh;
}

#projects{
  position: relative;
  display: flex;
  max-width: 76%;
  flex-wrap: wrap;
  margin: 5vh auto;
  justify-content: space-around;
}


.singleproject{
  position: relative;
  border-radius:25px;
  margin: 2vh;
  background-color: grey;
  width: 330px;
  height: 186px;
  overflow: hidden;
  -webkit-box-shadow: 0px -1px 66px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 66px -5px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 66px -5px rgba(0,0,0,0.75);
  transition: width 0.2s, height 0.2s;
}

.singleproject:hover{
  width:360px;
  height: 203px;
}

.singleproject img{
  opacity: 0.8;
  max-height: 115%;
  max-height: 115%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.singleproject h1{
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.projectdata{
  visibility: hidden;
}

#focusproject{
  border-radius: 15px;
  transition: width 0.4s;
  width: 100%;
  height: 100%;
  background-color: blue;
  position: absolute;
  display: none;
  /*transform-origin: top left;*/
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

#focusproject h2{
  float: right;
  display: block;
  cursor: pointer;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)};
    to {-webkit-transform:scale(1)};
}

@keyframes zoom {
    from {transform:scale(0)};
    to {transform:scale(1)};
}

.grades{
}

#gradecontainer{
  position: relative;
  background-color: #e5bc82;
  max-width: 70%;
  max-height: 40%;
  margin: auto;
  border-radius: 0 25px 25px 25px;
  -webkit-box-shadow: 0px 14px 57px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 57px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 14px 57px -2px rgba(0,0,0,0.75);
}

#year1{
  display: none;
  justify-content: space-around;
  padding: 3vh 0;
  margin: 0 3vw;
}

#year2{
  display: flex;
  justify-content: space-around;
  padding: 3vh 0;
  margin: 0 3vw;
}

.sem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grades{
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 20vh;
}

.grades h1{
  padding: 2vh 0;
}


#gradecontainer h1{
  font-weight: normal;
  margin-bottom: 1vh;
}

#tabs{
  display: flex;
  margin-left: 15%;
}

.tab p {
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  line-height: 4vh;
}

.tab{
  border-bottom: 4vh solid #997d57;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 14vw;
}

.activetab{
  border-bottom-color: #e5bc82;
  z-index:3;
}

.grade h2{
  font-weight: normal;
  float: right;
  font-size: 3em;
}

.grade p{
  display: block;
  width: 50%;
  font-weight: bold;
  float: left;
  margin-right: 2vw;
}



@media screen and (max-width:992px){

  header, nav ul{
    max-width: 40%;
  }

  .about{
    max-width: 100%;
  }

  .about img{
    align-self: center;
  }

  .aboutcontent h2{
    text-align: center;
  }

  #projects{
    max-width: 100%;
  }

  .singleproject{
    width: 700px;
    height: 394px;
  }


@media screen and (max-width:600px){

  header{
    max-width: 100%;
    text-align: center;
  }
  nav ul{
    flex-direction: column;
    margin: auto;
  }
  .about{
    padding: 5vh;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .aboutcontent{
    max-width: 90%;
  }
}
